body {
    background-image: url("../Recursos/img/fondoPantalla.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.margen {
    margin: 1%;
}

/* Estilos para el header */
.header {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
}

.TituloHeader {
    color: white;
    font-size: clamp(16px, 3vw, 20px);
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
    margin-right: auto;
    text-align: left;
}

.TituloHeader a {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border: none;
    outline: none;
}

.TituloHeader a:visited {
    color: white;
    border: none;
}


.TituloHeader a:hover {
    color: #000000;
    border-bottom: 2px solid white;
}


nav {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.logo {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: inline-block;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    font-size: clamp(12px, 2vw, 16px);
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 16px;
    margin: 10px;
    margin-left: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #ddd;
    border-bottom: 2px solid white;
}




















.footer {
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 100px;
    margin: 2% 4% 2% 4%;
    position: relative;
    z-index: 1;
}

.footer img {
    width: 33%;
    height: 33%;
    object-fit: contain;
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 100px;
    z-index: 2;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer p {
    color: #FFF;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin: 1% 0;
    font-family: 'Arial', sans-serif;
    font-size: clamp(12px, 1.5vw, 16px);
    position: relative;
    z-index: 1;
}