body {
    background-image: url("../Recursos/img/fondoPantalla.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.margen {
    margin: 1%;
}

/* Estilos para el header */
.header {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;

}

.TituloHeader {
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
    margin-right: auto;
    text-align: left;
}

.TituloHeader a {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border: none;
    outline: none;
}

.TituloHeader a:visited {
    color: white;
    border: none;
}


.TituloHeader a:hover {
    color: #000000;
    border-bottom: 2px solid white;
}


nav {
    display: flex;
    align-items: center;
    margin: 0 1%;
}

.logo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    margin-right: 20px;
}

ul li {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #ddd;
    border-bottom: 2px solid white;
}

/* Estilos para el header */

.bienvenida {
    background-image: url("/Recursos/img/fondoPantallaHeader.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.bienvenida h1 {

    color: white;
    font-size: clamp(24px, 4vw, 48px);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.bienvenida img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Estilobien {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px 40px;
    border-radius: 50px;
    text-align: center;
    width: fit-content;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


.Estilobien img {
    width: 40%;
    height: 40%;
    object-fit: contain;

}


.flecha-scroll {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px auto;
    border: 2px solid #ffffff;
    animation: MovimientoFlecha 2s infinite;
}

@keyframes MovimientoFlecha {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}



/* Estilos para el menu*/

.contenido {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin: -1% 4% 0 4%;
    position: relative;
    z-index: 0;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 100px;

}

.opciones img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

/* generar de plantilla menu*/
.CajaMenu {
    background-image: url(/Recursos/img/LechugaCarta.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40vh;
}

.CajaMenu img {
    width: 80%;
    height: auto;
    border-radius: 50px;
}

.HamburguesaImagen {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70vh;
}

.TextoMenu {
    background-color: rgba(0, 0, 0, 0.747);
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: clamp(10px, 2vw, 16px);
    padding: 1%;
    border-radius: 80px;
    margin-bottom: 15px;
    width: fit-content;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Carta Tomate */

.CajaMenuTomate {
    background-image: url(/Recursos/img/TomateCarta.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40vh;
}

.CajaMenuTomate img {
    width: 80%;
    height: auto;
    border-radius: 50px;
}

.meserioImagen {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70vh;
}

/* Carta Carne */

.CajaMenuCarne {
    background-image: url(/Recursos/img/CarneCarta.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40vh;
}

.CajaMenuCarne img {
    width: 80%;
    height: auto;
    border-radius: 50px;
}

.MeseritoImagen {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70vh;
}

/* Carta Queso */

.CajaMenuQueso {
    background-image: url(/Recursos/img/QuesoCarta.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40vh;
}

.CajaMenuQueso img {
    width: 80%;
    height: auto;
    border-radius: 50px;
}

.TrabajaConNosotrosFondo {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70vh;
}































/* map */
.map {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin-top: 20px;
    margin: 1% 1% 0 1%;
    position: relative;
    z-index: 1;
}

.map h2 {
    background-color: rgba(255, 255, 255, 0.747);
    font-family: 'Arial', sans-serif;
    color: black;
    font-size: clamp(14px, 2vw, 24px);
    padding: 1.5%;
    border-radius: 80px;
    margin-bottom: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}




/* Estilos para el footer */
.footer {
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 100px;
    margin: 2% 4% 2% 4%;
    position: relative;
    z-index: 1;
}

.footer img {
    width: 33%;
    height: 33%;
    object-fit: contain;
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 100px;
    z-index: 2;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer p {
    color: #FFF;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin: 1% 0;
    font-family: 'Arial', sans-serif;
    font-size: clamp(12px, 1.5vw, 16px);
    position: relative;
    z-index: 1;
}