body {
    background-image: url("../Recursos/img/fondoPantalla.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.margen {
    margin: 1%;
}

/* Estilos para el header */
.header {
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-0.3deg);
}

.TituloHeader {
    color: white;
    font-size: 45px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
    margin-right: auto;
    border-bottom: 2px solid white;
}

.logo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    margin-right: 20px;
}

ul li {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #ddd;
    border-bottom: 2px solid white;
}

/* Estilos para el header */

.bienvenida {
    background-color: rgba(0, 0, 0, 0.700);
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin-top: 20px;
    margin: 4% 4% 0 4%;
    position: relative;
    z-index: 1;
}

.bienvenida img {
    width: 33%;
    height: 33%;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 200px;
}

/* Estilos para el menu*/

.contenido {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin: -1% 4% 0 4%;
    position: relative;
    z-index: 0;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    margin-top: 20px;
}

.opciones img {
    border-radius: 100px;
    position: relative;
    z-index: 1;
}

/* Primer caja del menu principal */

.contenidoOpcion {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 1%;
    border-radius: 100px;
    text-align: center;
    margin: -4% 12% 1% 12%;
    position: relative;
    z-index: 0;
}

.contenidoOpcion img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 100px;
    position: relative;
    z-index: 1;
}

.textoDeMenu {
    background-color: rgba(0, 0, 0, 0.747);
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: clamp(14px, 2vw, 24px);
    margin-top: -80px;
    border-radius: 80px;
    padding: 1.5%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 2;
}

/* Segunda caja del menu principal */